html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

#fullpage {
    height: 100%;
}

.section {
    height: 100%;
}

.poem-container {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
}

.poem-container ol {
    width: 100%;
    height: 100%;
}

.poem-container ol li {
    width: 100%;
    display: block;
    float: left;
}

.poem-container ol li div {
    width: 100%;
    display: block;
}

.poem-body {
    width: 100%;
    padding: 100px 0px 100px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.poem-body p {
    display: block;
    color: #ffffff;
    font-size: 30px;
    font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
}
